html {
	background-color: #1a237e;
	border: dashed; 
	border-color: #fbc02d; 
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	cursor:url("Images/pointer.png");
}

#main-screen {
	margin-bottom: 50%;
}

#main-screen img {
	height: 800px;
	width: 1100px;
	margin-left: 11%;
	position: relative;
	bottom: 80px;
	left: 2%;
}

.main-buttons {
margin-left: 25%;
position: relative;
top: 5%;
}

#on-button {
	display: inline-flex;
	height: 95px;
	width: 190px;
	margin-right: 15%;
}

#button2 {
	display: inline-flex;
	height: 85px;
	width: 120px;	
}

#button3 {
	display: inline-flex;
	height: 85px;
	width: 120px;		
}

#button4 {
	display: inline-flex;
	height: 85px;
	width: 120px;	
	}

@keyframes fadeIn {
	0% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

#welcome {
	visibility: hidden;
	animation-name: fadeIn;
	animation-duration: 10s;
	animation-delay: 1s;
}	

#welcome img {
	height: 190px;
	width: 300px;
	position: absolute;
	bottom: 33%;
	margin-left: 38.5%;
}

#welcome img {
	height: 190px;
	width: 300px;
	position: absolute;
	bottom: 33%;
	margin-left: 38.5%;
}

/*#test {
  width:200px;
  height:200px;
  cursor:url("Images/pointer.png")
/
  , auto;
}*/
/*<div class="test">TEST</div>*/*/